.logo {
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  
}
.log {
    color: white;
    text-decoration: none;
}

.reg {
    color: white;
    text-decoration: none;

}