<footer class="footer-distributed">
  <div class="footer-left">
    <h3>App<span> project</span></h3>

    <p class="footer-links">
      <a>Home</a>
      ·
      <a>Blog</a>
      ·
      <a>Pricing</a>
      ·
      <a routerLink="/user">About</a>
      ·
      <a>Faq</a>
      ·
      <a>Contact</a>
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>

  <div class="footer-right">
    <p>Contact Us</p>

    <form action="#" method="post">
      <input type="text" name="email" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>
    </form>
  </div>
</footer>
