/* .img-responsive {
   border-radius: 2%;
} */


.col-md-4 {
   background-image: url('../../../assets/img/earth.jpg');
}
.example-card {
   max-width: 400px;
 }
 
 .example-header-image {
   background-image: url('../../../assets/img/female.png');
   background-size: cover;
 }
 
