<h1>You can go everywhere</h1>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">MOUNTAIN</h1>
    </div>
    <div class="back">
       <h2>Climb</h2>
       <p>Climb the highest mountain and feel the fresh air</p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">LAKE</h1>
    </div>
    <div class="back">
       <h2>Swim</h2>
       <p>Watch the sunset with your favourite person</p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">OCEAN</h1>
    </div>
    <div class="back">
       <h2>Explore</h2>
       <p>Seek trough the beautiful kids of creators</p>
    </div>
</div>

<br>
<br>

  
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">FOREST</h1>
    </div>
    <div class="back">
       <h2>Adventure</h2>
       <p>Feel the nature</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">TRACK</h1>
    </div>
    <div class="back">
       <h2>Travel</h2>
       <p>Travel with train and meet new people</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
       <h1 class="text-shadow">SWAMP</h1>
    </div>
    <div class="back">
       <h2>Nature</h2>
       <p>See every detail</p>
    </div>
</div>
