<section>
    <div class="container">
      <div class="background-img">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="content">
            <h2>Share your opinion</h2>
            <p> and reccomended</p>
            <p></p>
            <p><a style="color:#00ffe9;">Visit a place someone has reccomended as cool place or try food you've never heard before, every choice is yours!
            Writing means sharing. It's part of the human condition to want to share things - thoughts, ideas, opinions.
            </a></p>
          </div>
          
        </div>
      </div>
    </div>
  </section>