@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Shrikhand");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-image: url("../../../assets/img/earth.jpg");
  background-size: cover;
}
@media (min-width: 450px) {
  body {
    font-size: 1.25rem;
  }
}
.container {
    background-image: url('../../../assets/img/createA.jpg');
    width: 100%;
    height: 700%;
    background-size: cover;
   color: white;
}
.s {
    background-color: white;
    color: black;
}