<mat-card class="example-card">
  <div class="card mb-3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ article.title }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="article.imageUrl" alt="Photo of a Shiba Inu" />
    <div class="card-body">
      <mat-card-content>
        <p>
          {{ article.description }}
        </p>
      </mat-card-content>
    </div>
    <div class="card-footer text-muted">
      <mat-card-actions>
        <button class="btn btn-primary" [routerLink]="['/list', article.id]">
          View details
        </button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
