@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body {
  margin: 0;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding: 1em 0;
  background: rgb(8, 3, 32);
}
a {
  color: white;
  text-decoration: none;
}
a.logo {
  font-weight: bold;
}
nav {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
li a {
  padding: 1em;
}

