<h1>Peace and relaxation</h1>
<div class="flip">
  <div
    class="front"
    style="background-image: url(https://d1bv4heaa2n05k.cloudfront.net/user-images/1474543219740/shutterstock-150145958_main_1474543228531.jpeg)"
  >
    <h1 class="text-shadow">China</h1>
  </div>
  <div class="back">
    <h2>Zhehiang</h2>
    <p>
      Sunset at serene West Lake in Hangzhou, Zhejiang, China – one of the
      world's most relaxing destinations. Photo: Shutterstock
    </p>
  </div>
</div>
<div class="flip">
  <div
    class="front"
    style="background-image: url(https://www.usnews.com/dims4/USNEWS/9340f74/2147483647/thumbnail/640x420/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2F34%2Fc6%2F3d8af69249f8972474c7056727ba%2F180720travelalone-stock.jpg)"
  >
    <h1 class="text-shadow">Sahara</h1>
  </div>
  <div class="back">
    <h2>Desert</h2>
    <p>
        The Sahara desert has a variety of land features, but is most famous for the sand dune fields that are often depicted in movies.
    </p>
  </div>
</div>
<div class="flip">
  <div
    class="front"
    style="background-image: url(https://i.pinimg.com/originals/d0/cc/ce/d0ccce2401e17082f0709b3230b63ca5.jpg)"
  >
    <h1 class="text-shadow">Zen</h1>
  </div>
  <div class="back">
    <h2>Explore the zen</h2>
    <p>
      Relax wherever you want! 
    </p>
  </div>
</div>

<br />
<br />

<div class="flip flip-vertical">
  <div
    class="front"
    style="background-image: url(https://gothammag.com/get/files/image/galleries/Get_Zen.jpg)"
  >
    <h1 class="text-shadow">City peace</h1>
  </div>
  <div class="back">
    <h2>Relax</h2>
    <p>
      Meditate
    </p>
  </div>
</div>
<div class="flip flip-vertical">
  <div
    class="front"
    style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/766/yoga-in-beautiful-places-main-1516368886.jpg?resize=480:*)"
  >
    <h1 class="text-shadow">Meditation</h1>
  </div>
  <div class="back">
    <h2>Breathe</h2>
    <p>
     Calm
    </p>
  </div>
</div>
<div class="flip flip-vertical">
  <div
    class="front"
    style="background-image: url(https://files.tripstodiscover.com/files/2014/11/Big-Sur-California.jpg)"
  >
    <h1 class="text-shadow">Chill</h1>
  </div>
  <div class="back">
    <h2>Island</h2>
    <p>
     Go to a place where you can feel calm
    </p>
  </div>
</div>
