<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Registration Form</h1>
      <form #form="ngForm" (submit)="register(form)">
        <pre>{{ form.value | json }}</pre>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            class="form-control"
            placeholder="Full Name"
            name="fullName"
            pattern="[A-Z][a-z]+\s[A-Z][a-z]+"
            [(ngModel)]="model.fullName"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="form?.controls.fullName?.touched && fullName?.errors?.required"
        >
          This field is required!
        </div>

        <div
          class="alert alert-danger"
          *ngIf="form?.controls.fullName?.errors?.pattern"
        >
          Name should contain space between first and last!
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            class="form-control"
            placeholder="Email Address"
            type="email"
            name="email"
            pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
            [(ngModel)]="model.email"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="form?.controls.email?.errors?.pattern"
        >
          Email must be in forma: example@example.com
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            form?.controls.email?.touched &&
            form?.controls.email?.errors?.required
          "
        >
          This field is required!
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;">
            <option value="{{ number }}" *ngFor="let number of phoneNumber">{{
              number
            }}</option>
          </select>
          <input
            class="form-control"
            placeholder="Phone number"
            type="text"
            name="phoneNumber"
            pattern="\d{9}"
            required
            ngModel
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="form?.controls.phoneNumber?.errors?.pattern"
        >
          Phone number must be 9-digit number
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            form?.controls.phoneNumber?.touched &&
            form?.controls.phoneNumber?.errors?.required
          "
        >
          This field is required!
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-building"></i>
            </span>
          </div>
          <select name="jobTitle" class="form-control" required ngModel>
            <option disabled>Select one of options below</option>
            <option value="{{ job }}" *ngFor="let job of jobTitle">{{
              job
            }}</option>
          </select>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            form?.controls.jobTitle?.touched &&
            form?.controls.jobTitle?.errors?.required
          "
        >
          This field is required!
        </div>
        <div ngModelGroup="passwords">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input
              class="form-control"
              placeholder="Create password"
              type="password"
              name="password"
              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,16}$"
              required
              ngModel
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              form?.controls.passwords?.controls.password?.touched &&
              form?.controls.passwords?.controls.password?.errors?.required
            "
          >
            This field is required!
          </div>
          <div
            class="alert alert-danger"
            *ngIf="form?.controls.passwords?.controls.password?.errors?.pattern"
          >
            Password should contains digits and chars!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input
              class="form-control"
              placeholder="Repeat password"
              type="password"
              name="Repassword"
              required
              ngModel
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              form?.controls.passwords?.controls.Repassword?.touched &&
              form?.controls.passwords?.controls.Repassword?.errors?.required
            "
          >
            This field is required!
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              form?.controls.passwords?.controls.Repassword?.value !==
              form?.controls.passwords?.controls.password?.value
            "
          >
            Passwords do not match!
          </div>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            class="form-control"
            placeholder="ImageUrl"
            type="url"
            name="imageUrl"
            appImageUrlV
            required
            ngModel
          />
        </div>
        <div class="alert alert-danger" *ngIf='form.errors?.image'>
          Image link not valid!
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Create Account
          </button>
        </div>

        <p class="text-center">Have an account? <a href="">Log In</a></p>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>