<div>
  <form [formGroup]="isLoggedUser">
    <div class="page-header">
      <input id="menu-toggle-input" type="checkbox" />
      <label class="menu-toggle" for="menu-toggle-input">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>

      <nav class="menu">
        <ol>
          <li class="menu-item"><a routerLink="/guide">About</a></li>
          <li class="menu-item"><a routerLink="/user">Profile</a></li>
          <li class="menu-travel">
            <a routerLink="/list">Travel</a>
            <ol class="sub-menu">
              <li class="menu-item"><a routerLink='/adventure'>Adventure</a></li>
              <li class="menu-item"><a routerLink='/landscapes'>Landmarks</a></li>
              <li class="menu-item"><a routerLink='/relax'>Relax zones</a></li>
            </ol>
          </li>
          <li class="menu-item">
            <a routerLink='/food'>Food</a>
            <ol class="sub-menu">
              <li class="menu-item"><a routerLink='/fast'>Fast food</a></li>
              <li class="menu-item"><a routerLink='/home-made'>Home made</a></li>
              <li class="menu-item"><a routerLink='/restaurant'>Restaurant</a></li>
            </ol>
          </li>
          <li class="menu-item"><a routerLink="/create">Create</a></li>
        </ol>
      </nav>
    </div>

    <section class="page-content">
      <h1 class="page-title">Share and recommend something you've liked!</h1>
      <p>
        Experience from the experience!
      </p>
    </section>
  </form>
</div>
